[Desktop Entry]
Encoding=UTF-8
Name=Indigen
Comment=Indigen P2P Cryptocurrency
Exec=indigen-qt %u
Terminal=false
Type=Application
Icon=indigen128
MimeType=x-scheme-handler/indigen;
Categories=Office;Finance;
Name[en_US]=indigen-qt.desktop
